{% extends "base_app.html" %}
{% load i18n compress pagination_tags crispy_forms_tags sorting_tags %}

{% block js %}
    {% compress js %}
        <script src="{{ STATIC_URL }}js/events.js"></script>
    {% endcompress %}
{% endblock %}

{% block js_external %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block js_inline %}
    <script type="text/javascript">
        $(function() {
            window.check_interval = setInterval(function() {
                $.get('{% url app_events_check last_uuid %}', function(response) {
                    if (response) {
                        var messages = $('.container > .messages'),
                            message = $(
                                '<div class="alert alert alert-info dont-hide hide">'
                                    + '<strong>{% trans "New data available" %}</strong>, {% trans "please refresh page by clicking here." %}'
                                +'</div>'
                            );

                        message.on('click', function() { window.location = '{% url app_events %}' });
                        messages.append(message);

                        $('.alert', messages).slideDown();
                        window.clearInterval(window.check_interval);
                    }
                })
            }, 1000 * 20);
        });

        function drawChart() {
            var data = new google.visualization.DataTable();

            data.addColumn('string', '{%trans "day" %}');
            data.addColumn('number', '{%trans "errors" %}');

            var options = {
                theme: 'maximized',
                chartArea:{
                    left: 0, top: 0,
                    width: '100%',
                    height: '100%'
                }
            };

            $.ajax({
                type: 'GET',
                url: '{% url app_stats_event %}',
                cache: false,
                success: $.proxy(function(response) {
                    data.addRows(response);

                    var chart = null, div = $('#chart').get(0),
                        numberOfRows = data.getNumberOfRows();

                    if (numberOfRows > 1) {
                        options.hAxis = {  textPosition: 'none' };
                        chart = new google.visualization.AreaChart(div);
                    }
                    else {
                        options.vAxis = {  textPosition: 'none' };
                        chart = new google.visualization.ColumnChart(div);
                    }

                    chart.draw(data, options);
                }, this)
            });
        }

        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
    </script>
{% endblock %}

{% block content %}
    <div class="row" id="stats">
        <div class="span8">
             <div id="chart">
                <img class="loader" src="{{ STATIC_URL }}img/loader.gif"/>
            </div>
        </div>
        <div class="span4">
            <div class="well box-shadow" id="traffic">
                <div class="list-item">
                    <div class="title pull-left"><i class="icon-book"></i> {% trans "Bundles" %}</div>
                    <div class="content pull-left {% if user.get_profile.used_bundles == user.get_profile.package.limit_bundles %}badge badge-important{% endif %}">
                        {{ user.get_profile.used_bundles }} / {{ user.get_profile.package.limit_bundles }}
                    </div>
                    <br class="clearfix"/>
                </div>
                <div class="list-item">
                    <div class="title pull-left"><i class="icon-exclamation-sign"></i> {% trans "Events (daily)" %}</div>
                    <div class="content pull-left {% if user.get_profile.used_events == user.get_profile.package.limit_events %}badge badge-important{% endif %}">
                        {{ user.get_profile.used_events }} / {{ user.get_profile.package.limit_events }}
                    </div>
                    <br class="clearfix"/>
                </div>
                <div class="list-item last">
                    <div class="title pull-left"><i class="icon-asterisk"></i> {% trans "Api calls (per week)" %}</div>
                    <div class="content pull-left {% if user.get_profile.used_api == user.get_profile.package.limit_api %}badge badge-important{% endif %}">
                        {{ user.get_profile.used_api }} / {{ user.get_profile.package.limit_api }}
                    </div>
                    <br class="clearfix"/>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h3 class="pull-left"> {% trans "Latest errors" %}</h3>
        <a href="#" class="pull-right badge last toggle-filter action">{% trans "Filter selection" %}</a>
    </div>
    <form id="errors-filter" method="get" class="well form-inline form-inline filter box-shadow {% if not filter_has_data %}hide{% endif %}">
        <fieldset>
            {{ filter|crispy }}
            <div class="form-actions">
                <button class="btn success" type="submit"><i class="icon-ok"></i> {% trans "Apply" %}</button>
                <button class="btn success" type="button" onclick="window.location='{% url app_events %}';"><i class="icon-repeat"></i> {% trans "Revert" %}</button>
            </div>
        </fieldset>
    </form>
    {% autosort events "last_time" "desc" %}
    {% autopaginate events %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>{% anchor "last_time" _("Last time") %}</td>
                <td>{% anchor "first_time" _("First time") %}</td>
                <td>{% anchor "count" _("Count") %}</td>
                <td>{% anchor "error_name" _("Error") %}</td>
                <td>{% anchor "error_message" _("Website URL") %}</td>
                <td>{% anchor "client_browser" _("Browser") %}</td>
                <td>{% anchor "client_platform" _("Platform") %}</td>
                <td>{% anchor "reviewed" _("Is reviewed?") %}</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.last_time|date }} {{ event.last_time|time }}</td>
                    <td>{{ event.first_time|date }} {{ event.first_time|time }}</td>
                    <td class="center">{{ event.count }}</td>
                    <td title="{{ event.error_name }}: {{ event.error_message }}">{{ event.error_name|truncatechars:14 }}: {{ event.error_message|truncatechars:24 }}</td>
                    <td title="{{ event.client_url }}">{{ event.client_url|truncatechars:30 }}</td>
                    <td class="center" title="{{ event.client_browser }} {{ event.client_browser_version }}">
                        {% if event.client_browser_name %}
                            <i class="browser-{{ event.client_browser_name|lower }}"></i>
                            {{ event.client_browser_version|truncatechars:8 }}
                        {% else %}
                            {{ event.client_browser }} {{ event.client_browser_version }}
                        {% endif %}
                    </td>
                    <td class="center">{{ event.client_platform|default:"/" }}</td>
                    <td class="center"><i class="icon-{% if event.reviewed %}ok{% else %}remove{% endif %}"></i></td>
                    <td class="actions">
                        <a href="{% url app_events_detail event.uuid %}" title="{% trans "More info" %}">
                            <i class="icon-share"></i> open
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="9">{% trans "Excellent, currently there are no errors available." %}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pull-right">
        {% paginate %}
    </div>
{% endblock %}